attrs                   19.1.0
beautifulsoup4          4.7.1
bs4                     0.0.1
certifi                 2019.3.9
chardet                 3.0.4
fake-useragent          0.1.11
idna                    2.8
lxml                    4.3.2
mysqlclient             1.4.2.post1
numpy                   1.16.2
pandas                  0.24.1
pip                     19.0.3
python-dateutil         2.8.0
pytz                    2018.9
requests                2.21.0
scrapy-rotating-proxies 0.6
selenium                3.141.0
setuptools              40.6.2
six                     1.12.0
soupsieve               1.8
stem                    1.7.1
typing                  3.6.6
urllib3                 1.24.1